.cartItem{
    display: flex;
    height: 80px;
    width: 100%;
    margin-bottom: 15px;

    .image{
        width: 30%;

        img{
            width: 100%
        }
    }
    
    .desc{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 20px;

        span:first-child{
            font-weight: bold;
        }
    }
}